@model Loto.Web.Models.Branchs.Branch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLottery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLottery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPhoneRecharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPhoneRecharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxInvoices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxInvoices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
